<%-include('component/header')%> <%-include('component/sidebar')%>

<!-- Main Content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Favorite Contact</h1>
  </div>

  <!-- Search Bar -->
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="input-group">
        <form class="d-flex mb-3" action="/favorite" method="get">
          <input
            type="text"
            class="form-control"
            name="search"
            type="search"
            aria-label="Search"
            value="<%= typeof search !== 'undefined' ? search : '' %>"
            placeholder="Search contacts..."
          />
          <button class="btn btn-outline-success" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Contact List -->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%data.map((i)=>{%>
        <tr>
          <td>
            <img
              src="<%=i.profileUpload%>"
              alt="Profile"
              class="contact-avatar"
            />
          </td>
          <td><%=i.firstName+" "+i.lastName%></td>
          <td><%=i.phone%></td>
          <td><%=i.email%></td>
          <td><%=i.company%></td>
          <td>
            <a
              href="/show-contact?id=<%=i.id%>"
              class="btn btn-sm btn-outline-primary"
            >
              <i class="fas fa-eye"></i>
            </a>
            <a
              href="/update-contact?id=<%=i.id%>"
              class="btn btn-sm btn-outline-secondary"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              href="/favrm?id=<%=i.id%>"
              class="btn btn-sm btn-outline-warning"
            >
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% if(currenrPage){%>
      <li class="page-item">
        <a class="page-link" href="/favorite/?search=<%= search %>&page=<%=currenrPage-1%>" tabindex="-1">Previous</a>
      </li>
      <% }else{%>
      <li class="page-item">
        <a class="page-link disabled" href="/favorite/?search=<%= search %>&page=<%=currenrPage%>" tabindex="-1">Previous</a>
      </li>
      <%}%> <% for(let i =1 ;i<=totalPage;i++){%>
      <li class="page-item <%= i === currenrPage ? 'active' : ''%>">
             <a class="page-link" href="/favorite/?search=<%= search %>&page=<%= i %>"><%= i %></a>

      </li>
      <% } %>
      <% if (currenrPage<totalPage){%>
      <li class="page-item">
        <a class="page-link" href="/favorite/?page=<%=currenrPage+1%>&search=<%=search%>">Next</a>
      </li>
      <%}else{%>
        <li class="page-item">
            <a class="page-link disabled" href="">Next</a>
        </li>
    <%}%>
    </ul>
  </nav>
</main>
<%-include('component/footer')%>
